
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appContainer{
    width: 90%;
    height: 90vh;
    background-color: #eceff1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    gap: 10px;
}

.heading{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    text-transform: capitalize;
}
.toDoApp, .toDoTitle{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
}

.toDoApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.inputGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 0 10px;
    margin: 20px 0;
    border-radius: 15px;
}

input:focus{
    outline: none;
    border: 1px solid #cfd8dc;
}

.addBtn{
    margin-left: 10px;
    background-color: #e65100;
    border: none;
    color: #fff;
    border-radius: 15px;
    font-size: 18px;
    height: 40px;
    width: max-content;
    padding: 5px 10px;
    cursor: pointer;
}


.listContainer{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

.listContainer h2{
    text-align: left;
    padding: 10px 20px;
    font-size: 24;
    font-weight: 400;
}
.list{
    width: 100%;
    border: 1px solid red;
    padding: 10px 20px;
}


.toDoTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.icon-size{
    font-size: 192px;
}

ul{
    padding: 5px 10px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:  12px 8px 12px 50px;   
    user-select: none;
    cursor: pointer;
    position: relative;
    text-align: left;
    border-radius: 10px;
    background-color: #edeef0;
    margin-top: 5px;
}

ul li:hover{
    background-color: #b0bec5;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(src/images/circleBlackIcon.png);
    top: 12px;
    left: 8px;
    background-size: cover;
    background-position: center;
    
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(src/images/checkBlackIcon.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #b71c1c;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

ul li span:hover{
    background-color: #b71c1c;
    color: #edeef0;
}